<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ansgar.memorymanager">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name="com.ansgar.memorymanager.MemoryManagerService"
            android:exported="false" />
    </application>

</manifest>
